<% provide :page_title, 'Puzzles' %>
<% currently_at 'Puzzles' %>

<h1 class="mb-4">Puzzles</h1>
<%= link_to 'New pazzle', new_puzzle_path, class: 'btn btn-primary btn-lg mb-3' %>
<%== pagination @pagy %>
<%=render @puzzles%>
<%== pagination @pagy %>


